<footer class="mastfoot mt-auto">
  <div class="inner">
    <p class="app-footer">
      <%= fa_icon "copyright" %> 2018 | <strong>Tyler Taylor</strong> All rights reserved
    </p>
  </div>
</footer>