<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>
      <%= fa_icon "copyright" %> 2018 | <strong>Tyler Taylor</strong> All rights reserved
    </p>
  </div>
</footer>