<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "View All Projects", projects_path %> | 
      <a href="#">Back to top</a>
    </p>
    <p>
      <%= fa_icon "copyright", class: 'colorme' %> 2018 | <strong>Tyler Taylor</strong> All rights reserved
    </p>
  </div>
</footer>