<div class="app-card-container about-page-container">
  <div class="card">
    <h2>About Me</h2>

    <hr>

    <div class="row flex-container">
      <div class="col-md-5">
        <div class="profile-img-container">
          <%= image_tag "headshot1bw.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
        </div>
        
        <!-- don't care about this section
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h5><%= skill.title %></h5>
              <div class="progress">
                <div 
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
        -->
      </div>

      <div class="col-md-7">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil soluta id, nisi beatae quis rerum itaque quisquam necessitatibus consequatur ducimus? Sequi nulla voluptas officiis ad aut labore ipsam cupiditate numquam?</p>
        <p>Vitae non recusandae, doloremque quaerat, adipisci, alias delectus illo expedita ad perferendis laborum repudiandae? Dolore sit sequi magni fugit consectetur, delectus est! Perferendis, obcaecati a optio laborum perspiciatis odio natus.</p>

        <p>
          <button
            class="btn btn-outline-dark my-btn"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"
          >
            Job History
          </button>

          <p>
            <div class="collapse" id="jobHistory">
              <div class="card card-block jobs-card">
                Jobsss
              </div>
              <div class="card card-block jobs-card">
                Jobsss
              </div>
            </div>
          </p>

          <!-- TODO: repeat the above for education? idk -->
        </p>
      </div>
    </div>
  </div>
</div>