<div class="contact-card-container">
  <div class="card">
    <h1>Let's work together!</h1>

    <hr>

    <div class="row">
      <div class="col-md-12">
        <h3>Email</h3>
        <p><a href="mailto:hello@tylertaylor.net?subject=ProjectContact" "email me">hello@tylertaylor.net</a></p>

        <h3>Phone</h3>
        <p><a href="tel:5125081534"><%= number_to_phone "5125081534" %></a></p>
      </div>

      <!-- <div class="col-md-6">
        Contact form here eventually?
      </div> -->
    </div>
  </div>
</div>
