<div class="app-card-container">
  <div class="card">
    <h1>Let's work together!</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Phone</h3>
        <p><%= number_to_phone "5125081534" %></p>

        <h3>Email</h3>
        <p><a href="mailto:hello@tylertaylor.net?subject=ProjectContact" "email me">hello@tylertaylor.net</a></p>
      </div>

      <div class="col-md-6">
        <h3>We gon' puts a contact form up in here</h3>
      </div>
    </div>
  </div>
</div>
