<main role="main" class="inner cover">
  <h1 class="cover-heading">Hello! I'm Tyler.</h1>
  <p class="lead">I build things.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
    <%= link_to "Holler At Me", contact_path, class: "btn btn-lg btn-outline-light" %>
  </p>
</main>